@font-face {
  font-family: 'robotobold';
  src: url('/Airplanet/fonts/roboto-bold_1-webfont.woff2') format('woff2'),
       url('/Airplanet/fonts/roboto-bold_1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotolight';
  src: url('/Airplanet/fonts/roboto-light_1-webfont.woff2') format('woff2'),
       url('/Airplanet/fonts/roboto-light_1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotolight_italic';
  src: url('/Airplanet/fonts/roboto-lightitalic_1-webfont.woff2') format('woff2'),
       url('/Airplanet/fonts/roboto-lightitalic_1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$bold: robotobold, Arial, sans-serif;
$light: robotolight, Arial, sans-serif;
$lightitalic: robotolight, Arial, sans-serif;
$blue: #4b73b5;

* {
  box-sizing: border-box;
}

body {
  font-family: robotolight, Arial, sans-serif;
  font-size: 18px;
  color: #221f1f;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h2,h3,h4,h5,h6,p {
  padding: 0;
  margin: 0;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.title {
  font-family: $bold;
  font-size: 49px;
}

/* HEADER */

.header {
  background-color: $blue;
}

.header__container {
  display: flex;
  height: 76px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0 20px;
  margin-bottom: 13px;
}

.contacts {
  font-family: $bold;
  text-align: right;
}

.contacts__phone {
  color: white;
  font-size: 21px;
  text-decoration: none;
}

.contacts__hours-title {
  color: white;
  font-weight: bold;
  font-size: 14px;
  opacity: .7;
}

.contacts__hours {
  position: relative;
  font-family: $light;
  font-size: 14px;
}

.contacts__list {
  display: none;
  flex-direction: column;
  padding: 18px 20px;
  position: absolute;
  text-align-last: left;
  width: 164px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 2.5px 4.3px 5px 0 rgba(0, 0, 0, 0.2);
  right: 0;
  bottom: -88px;
}

.contacts__hours:hover .contacts__list {
  display: flex;
}

.contacts__list:after {
  content: "";
  position: absolute; 
  top: -21px;
  right: 2px; 
  border: 10px solid transparent; 
  border-bottom: 10px solid white; 
}

.contacts__item--bold {
  font-family: $bold;
}

.contacts__item--blue {
  color: #1c5bc3;
}

/* CONTENT */

.content__container {
  display: flex;
  justify-content: space-between;
}

.aside {
  padding-top: 32px;
  padding-left: 20px;
  margin-right: 75px;
}

.aside__list {
  display: flex;
  flex-direction: column;
  font-family: $bold;
  text-transform: uppercase;
  font-size: 12px;
}

.aside__item {
  display: flex;
  margin-bottom: 28px;
}

.aside__link {
  display: flex;
  color: #4b73b5;
  text-decoration: none;
  letter-spacing: 2.4px;
  align-items: center;
}

.aside__link:hover,
.aside__link--main {
  color: black;
}

.aside__link:before {
  display: flex;
  content: "";
  width: 20px;
  height: 20px;
  background: center center / contain no-repeat;
  margin-right: 15px;
}


.aside__link--main:before {
  background-image: url("/Airplanet/images/aside/main.png");
}

.aside__link--feed:before {
  background-image: url("/Airplanet/images/aside/feed.png");
}

.aside__link--feed:hover:before {
  background-image: url("/Airplanet/images/aside/feed--hover.png")
}

.aside__link--crew:before {
  background-image: url("/Airplanet/images/aside/crew.png")
}

.aside__link--crew:hover:before {
  background-image: url("/Airplanet/images/aside/crew--hover.png")
}

// MAIN

.rates {
  margin-bottom: 48px;
}

.rates .title {
  margin-bottom: 27px;
}

.rates__list {
  display: flex;
}

.rates__item {
  width: 248px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid transparent;
  border-radius: 5px;
  align-items: center;
  padding: 40px 21px;
  margin-right: 20px;
}

.rates__item:hover {
  border-color: #e8e9ed;
}

.rates__icon {
  display: flex;
  width: 70px;
  height: 70px;
  background-color: $blue;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

.rates__title {
  font-size: 11px;
  font-family: $bold;
  text-transform: uppercase;
  letter-spacing: 2.64px;
  margin-bottom: 21px;
}

.rates__description {
  text-align: center;
  line-height: 1.67;
  margin-bottom: 8px;
}

.rates__features {
  display: flex;
  flex-direction: column;
  margin-bottom: 21px;
}

.rates__features-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.rates__features-item:before {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  background-color: black;
  border-radius: 50%;
  margin-right: 25px;
  left: -20px;
}

.rates__features-item:last-child {
  margin-bottom: 0;
}

.rates__price {
  font-size: 54px;
}

.rates__currency {
  font-size: 30px;
}

// NEWS

.news .title {
  margin-bottom: 42px;
}

.news__list {
  display: flex;
  flex-direction: column;
}

.news__item {
  display: flex;
  justify-content: space-between;
  padding-right: 70px;
  padding-bottom: 25px;
  border-bottom: 2px solid #e8e9ed;
  padding-top: 22px;
}

.news__item:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 60px;
}

.news__image {
  width: 160px;
  height: 160px;
  margin-right: 20px;
}

.news__image-picture {
  display: block;
  max-height: 100%;
  border-radius: 50%;
}

.news__content {
  display: flex;
  flex-direction: column;
}

.news__date {
  margin-bottom: 10px;
}

.news__title {
  margin-bottom: 6px;
}

.news__description {
  line-height: 1.6;
}

.pagination {
  display: flex;
  justify-content: center;
  font-size: 14px;
  align-items: center;
  margin-bottom: 60px;
}

.pagination__display {
  margin-right: 20px;
}

.pagination__paginator {
  display: flex;
  align-items: center;
}

.pagination__list {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.pagination__item {
  display: flex;
  align-items: center;
}

.pagination__button {
  text-decoration: none;
  color: grey;
  font-family: $bold;
}

.pagination__link {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: $bold;
  color: #221f1f;
  border-radius: 15%;
}

.pagination__link:hover {
  color: #1c5bc3;
}

.pagination__item--current .pagination__link {
  background-color: #4b73b5;
  color: white;
}

// FOOTER

.footer {
  background-color: $blue;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 0 20px;
}

.copyright {
  color: white;
  font-size: 14px;
  width: 236px;
}

.copyright__link {
  color: inherit;
  text-decoration: none;
  font-family: $bold;
}

.copyright__link--underlined {
  text-decoration: underline;
}

.socials__title {
  color: white;
  font-size: 14px;
  margin-bottom: 9px;
}

.socials__list {
  display: flex;
}

.socials__item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d2def3;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.socials__item:hover {
  background-color: white;
}

.socials__link {
  display: flex;
  max-height: 100%;
  max-width: 100%;
}