* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: robotolight, Arial, sans-serif;
  font-size: 18px;
  color: #584a4a;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.title {
  font-family: 'robotobold', Arial, sans-serif;
  font-size: 49px;
  font-weight: normal;
}

.wrapper {
  min-width: 1140px;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.wrapper__content {
  flex: 1;
}