@font-face {
    font-family: 'robotobold';
    src: url("/Airplanet/fonts/roboto-bold_1-webfont.woff2") format("woff2"), url("/Airplanet/fonts/roboto-bold_1-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'robotolight';
    src: url("/Airplanet/fonts/roboto-light_1-webfont.woff2") format("woff2"), url("/Airplanet/fonts/roboto-light_1-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'robotolight_italic';
    src: url("/Airplanet/fonts/roboto-lightitalic_1-webfont.woff2") format("woff2"), url("/Airplanet/fonts/roboto-lightitalic_1-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }