.aside {
  padding-top: 32px;
  padding-left: 20px;
  margin-right: 68px;
}

.aside--inner-page {
  padding-top: 0;
}

.aside__list {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-family: 'roboto';
  font-weight: bold;
  font-size: 12px;
}

.aside__item {
  display: flex;
  margin-bottom: 28px;
}

.aside__link {
  display: flex;
  color: #4b73b5;
  text-decoration: none;
  letter-spacing: 2.4px;
  align-items: center;
}

.aside__link:hover,
.aside__item--active .aside__link {
  color: black;
}

.aside__link:before {
  display: flex;
  content: "";
  width: 20px;
  height: 20px;
  background: center center / contain no-repeat;
  margin-right: 15px;
}

.aside__link--main:before {
  background-image: url("/Airplanet/images/aside/main.png") ;
}

.aside__link--feed:before {
  background-image: url("/Airplanet/images/aside/feed.png");
}

.aside__link--feed:hover:before,
.aside__item--active .aside__link--feed:before {
  background-image: url("/Airplanet/images/aside/feed--hover.png");
}

.aside__link--crew:before {
  background-image: url("/Airplanet/images/aside/crew.png");
}

.aside__link--crew:hover:before,
.aside__item--active .aside__link--crew:before {
  background-image: url("/Airplanet/images/aside/crew--hover.png");
}