.contacts {
  font-family: robotobold, Arial, sans-serif;
  text-align: right;
}
  
.contacts__phone {
  color: white;
  font-size: 21px;
  text-decoration: none;
  font-weight: bold;
}
  
.contacts__hours-title {
  color: white;
  font-weight: bold;
  font-size: 14px;
  opacity: .7;
}

  
.contacts__hours {
  position: relative;
  font-family: robotolight, Arial, sans-serif;
  font-size: 14px;
}

.contacts__hours:after {
  content: "";
  display: block;
  position: absolute;
  background: transparent;
  height: 20px;
  width: 100%;
}

.contacts__hours:hover .contacts__hours-title {
  opacity: 1;
  transition: .7s;
}
  
.contacts__list {
  display: none;
  flex-direction: column;
  padding: 18px 20px;
  position: absolute;
  text-align-last: left;
  width: 164px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 2.5px 4.3px 5px 0 rgba(0, 0, 0, 0.2);
  top: 100%;
  animation: appear 1s;
  margin-top: 20px;
}
  
.contacts__hours:hover .contacts__list {
  display: flex;
}

.contacts__hours:after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 25px;  
}

.contacts__list:after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 2px;
  border: 10px solid transparent;
  border-bottom: 10px solid white;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
  }
}
  
.contacts__item--bold {
  font-weight: bold;
}
  
.contacts__item--blue {
  color: #1c5bc3;
}