.copyright {
  color: white;
  font-size: 14px;
  width: 236px;
}

.copyright__link {
  color: inherit;
  text-decoration: none;
  font-family: 'roboto';
  font-weight: bold;
}

.copyright__link:hover {
  opacity: .8;
  transition: .8s;
}

.copyright__link--underlined {
  text-decoration: underline;
}