.pagination {
  display: flex;
  justify-content: center;
  font-size: 14px;
  align-items: center;
  margin-bottom: 60px;
}

.pagination__display {
  margin-right: 20px;
}

.pagination__paginator {
  display: flex;
  align-items: center;
}

.pagination__list {
  display: flex;
  align-items: center;
}

.pagination__item {
  display: flex;
  align-items: center;
}

.pagination__button {
  text-decoration: none;
  color: grey;
  font-family: robotobold, Arial, sans-serif;
  margin: 0 15px;
}

.pagination__button {
  position: relative;
}

.pagination__button-previous:before {
  content: "";
  display: block;
  border: 8px solid transparent;
  border-right-color: #d8d8d8;
}

.pagination__button-previous:after {
  top: 0;
  left: 3px;
  position: absolute;
  content: "";
  display: block;
  border: 8px solid transparent;
  border-right-color: white;
}

.pagination__button-previous:hover {
  animation: moveBack 2s linear;
}

.pagination__button-next:hover {
  animation: moveForward 2s linear;
}

@keyframes moveBack {
  0% {
    transform: translateX(-3px);
  }

  30% {
    transform: translateX(0px);
  }

  60% {
    transform: translateX(-3px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes moveForward {
  0% {
    transform: translateX(3px);
  }

  25% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(3px);
  }

  100% {
    transform: translateX(0px);
  }
}


.pagination__button-next:before {
  content: "";
  display: block;
  border: 8px solid transparent;
  border-left-color: black;
}

.pagination__button-next:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 3px;
  border: 8px solid transparent;
  border-left-color: white;
}

.pagination__link {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: 'roboto';
  font-weight: bold;
  color: #221f1f;
  border-radius: 15%;  
}

.pagination__link:hover {
  color: #1c5bc3;
}

.pagination__item--current .pagination__link {
  background-color: #4b73b5;
  color: white;
}