.rates {
  margin-bottom: 48px;
}
  
.rates .title {
  margin-bottom: 27px;
}
  
.rates__list {
  display: flex;
}
  
  .rates__item {
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid transparent;
    border-radius: 5px;
    align-items: center;
    padding: 40px 23px;
    margin-right: 20px;
  }
  
  .rates__item:hover {
    border-color: #e8e9ed;
  }
  
  .rates__icon {
    display: flex;
    width: 70px;
    height: 70px;
    background-color: #4b73b5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
  }
  
  .rates__title {
    font-size: 11px;
    font-family: 'roboto';
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.64px;
    margin-bottom: 21px;
  }
  
  .rates__description {
    font-family: 'roboto';
    font-weight: 300;
    text-align: center;
    line-height: 1.67;
    margin-bottom: 8px;
  }
  
  .rates__features {
   display: flex;
   flex-direction: column;
   margin-bottom: 21px;
   font-family: 'roboto';
   font-weight: 300;
  }
  
  .rates__features-item {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .rates__features-item:before {
    position: absolute;
    content: "";
    width: 3px;
    height: 3px;
    background-color: black;
    border-radius: 50%;
    margin-right: 25px;
    left: -20px;
  }
  
  .rates__features-item:last-child {
    margin-bottom: 0;
  }
  
  .rates__price {
    font-family: 'roboto';
    font-size: 54px;
    font-weight: 500;
  }  
  
  
  .rates__currency {
    font-size: 30px;
  }