.reviews .title {
  margin-bottom: 47px;
}

.reviews__list {
  display: flex;
  flex-direction: column;
}

.reviews__item {
  display: flex;
  justify-content: space-between;
  padding-right: 70px;
  padding-bottom: 25px;
  border-bottom: 2px solid #e8e9ed;
  padding-top: 22px;
}

.reviews__item:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 52px;
}

.reviews__image {
  width: 160px;
  height: 160px;
  margin-right: 20px;
}

.reviews__image-picture {
  display: block;
  max-height: 100%;
  border-radius: 50%;
}

.reviews__content {
  display: flex;
  flex-direction: column;
  font-family: 'roboto';
  font-weight: 300;
}

.reviews__date {
  color: #656464;
  margin-bottom: 6px;
  font-size: 14px;
}

.reviews__title {
  margin-bottom: 11px;
  font-family: 'roboto';
  font-weight: bold;
  font-size: 18px;
}

.reviews__description {
  line-height: 1.7;
}